
/* 카톡 스타일 추가 */

.chat-left .bubble {
  background-color: #e0f0ff;
  color: #222;
  padding: 10px;
  border-radius: 10px;
  margin: 4px;
  max-width: 70%;
}
.chat-right .bubble {
  background-color: #fff4b3;
  color: #333;
  padding: 10px;
  border-radius: 10px;
  margin: 4px;
  max-width: 70%;
  margin-left: auto;
}
